
    <div class="card custom-card">
        <div class="card-header bg-info">
           Programs
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label class="col-md-5">
                        Progra ID
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" name="protractId">
                            <option selected="selected">Please Select</option>
                            <option>PRO8544</option>
                            <option>PRO1245</option>
                            <option>PRO1246</option>
                        </select>
                    </div>
                </div>     
            </form>        
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Program ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PRO8544</td>
                            <td>Programs of the user information goes here</td>
                        </tr>
                        <tr>
                            <td>PRO1246</td>
                            <td>Programs of the user information goes here</td>
                        </tr>
                        <tr>
                            <td>PRO1245</td>
                            <td>Programs of the user information goes here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    