
    <div class="card custom-card">
        <div class="card-header">
           Programs
        </div>
        <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-5">
                        Program ID
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" name="programID" (change)="getProgramDetails($event.target.value)">
                            <option selected="selected">Please Select</option>
                            <option *ngFor="let programID of programIDs" [value]="programID">
                                {{programID}}
                            </option>
                        </select>
                    </div>
                </div>     
            <div class="card-table-area">
            <div class="table-responsive">
                <table class="table table-bordered table-striped card-table">
                    <thead>
                        <tr>
                            <th>Program ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isProgramDetailCalled">
                            <td>{{ programDetail.programId }}</td>
                            <td>{{ programDetail.description }}</td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    