<div [hidden]="!isClaimReportsHidden">
<form [formGroup]="claimSearchForm" (ngSubmit)="onSubmit(claimSearchForm)">
    <div class="card custom-card">
        <div class="card-header">
            Member Details
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-5">
                            Claim ID
                        </label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="ClaimId"/>
                            <div *ngIf="claimSearchForm.controls['ClaimId'].invalid && (claimSearchForm.controls['ClaimId'].dirty || claimSearchForm.controls['ClaimId'].touched)" class="text-danger">
                                <div *ngIf="claimSearchForm.controls['ClaimId'].errors.required">
                                Claim ID is required
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-5">
                            Member ID</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="MemberId"/>
                            <div *ngIf="claimSearchForm.controls['MemberId'].invalid && (claimSearchForm.controls['MemberId'].dirty || claimSearchForm.controls['MemberId'].touched)" class="text-danger">
                                <div *ngIf="claimSearchForm.controls['MemberId'].errors.required">
                                Member ID is required
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-5">Member First Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="Fname"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-5">Member Last Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="Lname"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-5">Member Birth Date</label>
                        <div class="col-md-7">
                            <input type="date" class="form-control" formControlName="DateOfBirth"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    
    <div class="card custom-card">
        <div class="card-header">
            Supplier
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-5">Supplier Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"  formControlName="SupplierName"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-5">Supplier ID</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" formControlName="SupplierId"/>
                            <div *ngIf="claimSearchForm.controls['SupplierId'].invalid && (claimSearchForm.controls['SupplierId'].dirty || claimSearchForm.controls['SupplierId'].touched)" class="text-danger">
                                <div *ngIf="claimSearchForm.controls['SupplierId'].errors.required">
                                Supplier ID is required
                              </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            Service Dates
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-3">From</label>
                        <div class="col-md-7">
                            <input type="date" class="form-control" formControlName="ServiceDateFrom"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-2">To</label>
                        <div class="col-md-7">
                            <input type="date" class="form-control" formControlName="ServiceDateTo"/>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
    
    <div class="card custom-card">
        <div class="card-header">
            Rendering Practitioner
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-5">Practitioner ID</label>
                        <div class="col-md-7">
                        <input type="text" class="form-control" formControlName="PractitionerId"/>
                        <div *ngIf="claimSearchForm.controls['PractitionerId'].invalid && (claimSearchForm.controls['PractitionerId'].dirty || claimSearchForm.controls['PractitionerId'].touched)" class="text-danger">
                            <div *ngIf="claimSearchForm.controls['PractitionerId'].errors.required">
                            Practitioner ID is required
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-5">Last Name</label>
                        <div class="col-md-7">
                        <input type="text" class="form-control" formControlName="LastName"/>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-5">First Name</label>
                        <div class="col-md-7">
                        <input type="text" class="form-control"  formControlName="FirstName"/>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body claim-search-btn-area">
            <button class="btn btn-primary">Search</button>      
            <button class="btn btn-outline-primary" type="reset">Reset</button>            
        </div>
    </div>    
    </form>
</div>    
    <div class="claim-table-content" [hidden]="isClaimReportsHidden">
        <h2 class="text-primary">Claim Report</h2>
    <div class="table-responsive claim-table-area">
        <!--Table-->
        <table class="table table-striped claim-report-table">
      
          <!--Table head-->
          <thead>
            <tr>
              <!-- <th width="140">Bill ID</th> -->
              <th width="140">Claim ID</th>
              <th width="140">Provider Name</th>
              <th width="140">Member Name</th>
              <th>Converted</th>
              <th>Billed</th>
              <th width="120">HCC Amount</th>
              <th>Allowed</th>
              <th>Capitated...</th>
              <th width="180">Last Changed</th>
              <th width="150">Worksheet State</th>
            </tr>
          </thead>
          <!--Table head-->
      
          <!--Table body-->
          <tbody>
            <tr *ngFor="let record of responseClaimReportData" 
            (click)="setClaimId(record.claimId)">
              <!-- <td>{{record.billId}}</td> -->
              <td>{{record.claimId}}</td>
              <td>{{record.providerName}}</td>
              <td>{{record.memberName}}</td>
              <td><input type="checkbox" [checked]="record.converted"/></td>
              <td>{{record.billed}}</td>
              <td>{{record.hccamount}}</td>
              <td><input type="checkbox" [checked]="record.allowed"/></td>
              <td>{{record.capitated}}</td>
              <td>{{record.lastChanged}}</td>
              <td>{{record.workSheetState}}</td> 
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>
    </div>