
a, a:hover{
	text-decoration: none;
}

.login-container{
	display: flex;  
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #cccccc;
}
.login-form-area{
	width: 400px;
	max-height: 400px;
	background: #ffffff;
	border-radius: 10px;
}
.login-form-area .form-group{
	padding:0 15px;
}
.login-user-avatar-area{
	padding: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: column;
	top: -30px;
	text-align: center;
	margin-bottom: -30px;
}
.avatar-icon-area{
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.avatar-icon-area img{
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
}
.login-user-avatar-area h3{
	font-size: 1.7rem;
	color: #777777;
}
.login-form-area .btn{
	width: 100%;
}
.forgot-password-area{
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eeeeee;
}
.forgot-password-area a{
	color: #0000ff;
	cursor: pointer;
}
