
  <div class="container-fluid">
      
    <div class="row">
      <div [ngClass]="{ 'col-md-3 p-0':isLoggedIn, 'd-none':!isLoggedIn }">
        <app-main-side-nav></app-main-side-nav>
      </div>
    <main role="main" [ngClass]="{ 'col-md-9 p-0':isLoggedIn, 'col-md-12 p-0':!isLoggedIn }">
      <header class="content-header">
        <h3>Medica Stop Loss - Insurance </h3>
        <div [hidden]="!isLoggedIn" class="welcome-user">
          Welcome {{user}}. You logged in as {{role}}
          <p><a (click)="logout()">Logout</a></p>
        </div>
      </header>
      <router-outlet></router-outlet>
     </main>
  </div>
</div>