
<p class="claim-id-firstline">
    <strong>Claim ID: </strong>1000002814356
</p>
<div class="card">
    <div class="card-header">Actions 
        <a href="#" style="color: #555; margin-left: 8px;">
            <span class="fa fa-refresh"></span> Refresh
        </a>
    </div>
    <div class="card-body">
        <form>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Claim ID</label>
                    <input type="text" name="claimid" class="form-control" value="1000002814356"/>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Last Changed on</label>
                    <input type="text" name="lastchanged" class="form-control" value="7/28/2020 7:20 AM"/>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" name="claimstatus" class="form-control" value="Denied"/>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Adjudicated on</label>
                    <input type="text" name="adjudicatedon" class="form-control" value="7/28/2020 7:20 AM"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Claim Type</label>
                    <input type="text" name="claimtype" class="form-control" value="Institutional"/>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 pos-r">
                <div class="form-check-inline claim-form-checkbox">
                    <label class="form-check-label">
                        Manually Priced 
                      <input type="checkbox" class="form-check-input" name="ismanuallypriced" value="" > 
                    </label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 pos-r">
                <div class="form-check-inline claim-form-checkbox">
                    <label class="form-check-label">
                        Send to Review
                      <input type="checkbox" class="form-check-input" name="sendtoreview" value=""> 
                    </label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Benefit Plan Type</label>
                    <input type="text" name="benefitplantype" class="form-control" value=""/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 pos-r">
                <div class="form-check-inline claim-form-checkbox">
                    <label class="form-check-label">
                        Capitated Service
                      <input type="checkbox" class="form-check-input" name="capitatedservice" value=""> 
                    </label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 pos-r">
                <div class="form-check-inline claim-form-checkbox">
                    <label class="form-check-label">
                        Removed Claim
                      <input type="checkbox" class="form-check-input" name="removedclaim" value=""> 
                    </label>
                </div>
            </div>   
            <div class="col-md-3 col-sm-6 col-12 pos-r">
                <div class="form-check-inline claim-form-checkbox">
                    <label class="form-check-label">
                        Voided Claim
                      <input type="checkbox" class="form-check-input" name="voidedclaim" value=""> 
                    </label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Calculated Benefit Plan</label>
                    <input type="text" name="calculatedbenefitplan" class="form-control" value="Medical"/>
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                    <label>Claim Source</label>
                    <input type="text" name="claimsource" class="form-control" value="Unknown"/>
                </div>
            </div>  
        </div>
    </form>
    </div>
</div>
<br/>


<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Header</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Lines</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Summary</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
        <form>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Claim ID</label>
                        <input type="text" name="claimid" class="form-control" value="1000002814356"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Last Changed on</label>
                        <input type="text" name="lastchanged" class="form-control" value="7/28/2020 7:20 AM"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" name="claimstatus" class="form-control" value="Denied"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Adjudicated on</label>
                        <input type="text" name="adjudicatedon" class="form-control" value="7/28/2020 7:20 AM"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Claim Type</label>
                        <input type="text" name="claimtype" class="form-control" value="Institutional"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 pos-r">
                    <div class="form-check-inline claim-form-checkbox">
                        <label class="form-check-label">
                            Manually Priced 
                          <input type="checkbox" class="form-check-input" name="ismanuallypriced" value="" > 
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 pos-r">
                    <div class="form-check-inline claim-form-checkbox">
                        <label class="form-check-label">
                            Send to Review
                          <input type="checkbox" class="form-check-input" name="sendtoreview" value=""> 
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Benefit Plan Type</label>
                        <input type="text" name="benefitplantype" class="form-control" value=""/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12 pos-r">
                    <div class="form-check-inline claim-form-checkbox">
                        <label class="form-check-label">
                            Capitated Service
                          <input type="checkbox" class="form-check-input" name="capitatedservice" value=""> 
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 pos-r">
                    <div class="form-check-inline claim-form-checkbox">
                        <label class="form-check-label">
                            Removed Claim
                          <input type="checkbox" class="form-check-input" name="removedclaim" value=""> 
                        </label>
                    </div>
                </div>   
                <div class="col-md-3 col-sm-6 col-12 pos-r">
                    <div class="form-check-inline claim-form-checkbox">
                        <label class="form-check-label">
                            Voided Claim
                          <input type="checkbox" class="form-check-input" name="voidedclaim" value=""> 
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Calculated Benefit Plan</label>
                        <input type="text" name="calculatedbenefitplan" class="form-control" value="Medical"/>
                    </div>
                </div>        
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Claim Source</label>
                        <input type="text" name="claimsource" class="form-control" value="Unknown"/>
                    </div>
                </div>  
            </div>
        </form>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>