
    <div class="card custom-card">
        <div class="card-header bg-info">
           Benefits
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label class="col-md-5">
                        Benefit ID
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" name="benefitId">
                            <option selected="selected">Please Select</option>
                            <option>BEN8544</option>
                            <option>BEN1245</option>
                            <option>BEN1246</option>
                        </select>
                    </div>
                </div>     
            </form>        
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Benefit ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BEN8544</td>
                            <td>Benefits of the user information goes here</td>
                        </tr>
                        <tr>
                            <td>BEN1246</td>
                            <td>Benefits of the user information goes here</td>
                        </tr>
                        <tr>
                            <td>BEN1245</td>
                            <td>Benefits of the user information goes here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    