
    <div class="card custom-card">
        <div class="card-header">
           Benefits
        </div>
        <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-5">
                        Benefit ID
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" name="benefitId" (change)="getBenefitDetails($event.target.value)">
                            <option selected="selected">Please Select</option>
                            <option *ngFor="let benefitID of benefitIDs" [value]="benefitID">
                                {{benefitID}}
                            </option>
                        </select>
                    </div>
                </div>     
                <div class="card-table-area">
            <div class="table-responsive">
                <table class="table table-bordered table-striped card-table">
                    <thead>
                        <tr>
                            <th>Benefit ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isBenefitDetailCalled">
                            <td>{{ benefitDetail.benefitId }}</td>
                            <td>{{ benefitDetail.description }}</td>
                        </tr>
                        <!-- <tr>
                            <td>BEN1246</td>
                            <td>Benefits of the user information goes here</td>
                        </tr>
                        <tr>
                            <td>BEN1245</td>
                            <td>Benefits of the user information goes here</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    