

      <div class="card custom-card">
        <div class="card-header">
            Roles
        </div>
        <div class="card-body">
            <p>
              Your role is to manage users and their activities on regular intervals. 
            </p>
            Select a role 
            <select class="form-control" style="max-width: 260px;" (change)="getRoleDetails($event.target.value)">
             <option value="Please Select the Role" selected="selected">
                Please Select the Role
             </option>
              <option *ngFor="let roleName of roleNames" [value]="roleName">
                  {{roleName}}</option>
            </select>
            <br/>
            <div class="card-table-area">
            <div class="table-responsive">
                <table class="table table-striped table-bordered card-table">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isRoleNameCalled">
                            <td>{{roleName}}</td>
                            <td>{{roleDescription}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>