
    <div class="card custom-card">
        <div class="card-header">
           Contracts
        </div>
        <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-5">
                        Contract ID
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" name="contractId" (change)="getContractDetails($event.target.value)">
                            <option selected="selected">Please Select</option>
                            <option *ngFor="let contractID of contractIDs" [value]="contractID">
                                {{contractID}}
                            </option>
                        </select>
                    </div>
                </div>     
                <div class="card-table-area">
            <div class="table-responsive">
                <table class="table table-bordered table-striped card-table">
                    <thead>
                        <tr>
                            <th>Contract ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isContractDetailCalled">
                            <td>{{ contractDetail.contractsId }}</td>
                            <td>{{ contractDetail.description }}</td>
                        </tr>  
                    </tbody>
                </table>
            </div>
                </div>
        </div>
    </div>
    