
    <div class="card custom-card">
        <div class="card-header bg-info">
           Contracts
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label class="col-md-5">
                        Contract ID
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" name="contractId">
                            <option selected="selected">Please Select</option>
                            <option>CON8544</option>
                            <option>CON1245</option>
                            <option>CON1246</option>
                        </select>
                    </div>
                </div>     
            </form>        
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Contract ID</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CON8544</td>
                            <td>Contracts of the user information goes here</td>
                        </tr>
                        <tr>
                            <td>CON1246</td>
                            <td>Contracts of the user information goes here</td>
                        </tr>
                        <tr>
                            <td>CON1245</td>
                            <td>Contracts of the user information goes here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    