<!-- 
<div class="container dashboard-page">
    <h2>Welcome to Dashboard</h2>
    <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <h1 class="card-text">
                Admin Module is in progress
            </h1>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <h1 class="card-text">
                Security Module
            </h1>
          </div>
        </div>
        <div class="card bg-primary">
          <div class="card-body text-center">
            <h1 class="card-text">
                Configuration Module 70% 
            </h1>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <h1 class="card-text">
                
            </h1>
          </div>
        </div>
      </div>
</div> -->